html {
  font-size: 20px;
}

ol,
ol li {
  font-size: 1.2rem;
}

ul,
ul li {
  font-size: 1.2em;
}

.vw {
  font-size: 10vw;
}

.vh {
  font-size: 10vh;
}

.div-vh {
  height: 20vh;
  width: 10vw;
  background-color:green;
}

.div-vw {
  height: 10vh;
  width: 20vw;
  background-color: blue;

}