*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html,
body {
  width: 100%;
  height: 100%;
}

/* 위에는 초기화 설정 > gitignore 처럼 검색해서 사용가능*/


.bg-box {
  height: 100%;

  background-image: url("images/someone\ who\ code.jpg");

  background-size: 600px 450px;
  background-size: contain;
  background-size: cover;


  /* background-repeat */
  background-repeat: no-repeat;

  /* background-position */
  background-position: 0, 0;
  background-position: center;

  background-attachment: fixed;

}