.font-1 {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.font-2 {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

.font-3 {
  font-size: 130%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.font-4 {
  font-size: small;
  font-weight: 700;
}

.font-5 {
  /* fontshorthand 
  font: font-style font-weight line-height font-size(필수) font-family(필수)  */ */
  font: italic 2rem "Hack"
}

.box {
  width: 100px;
  height: 100px;
  background-color:crimson;
  color: white;
}

.box > p {
  text-align: center;
  /* line height 를 부모(.box)의 height 만큼 주면
  텍스트를 수직 중앙 할 수 있다(단 텍스트가 1줄인 경우만 가능) */
  line-height: 100px;
}

.google-font {
font-family: 'Dokdo', cursive;
font-family: 'Gugi', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Kirang Haerang', cursive;
font-size: 250%;
}